@using System.Runtime.InteropServices
@using BaalPratibha.Models.ViewModels
@model List<ContestantView>
@inject Microsoft.Extensions.Options.IOptions<AppSettings> options
@inject BaalPratibha.Logic.IViewHelper _viewHelper;



<div class="col-sm-12">
    @{ var isAdmin = User.GetRole() == BaalPratibha.Models.Enums.Roles.Admin.ToString();}
    <h3>
        Contestants
    </h3>
    <div class="nav nav-pills">

        @if (isAdmin)
        {

            <a class="btn btn-primary" asp-controller="Contestant" asp-action="Add">Add New Contestant</a>

        }
        <div class="text-muted pull-right">Total Contestants: @Model.Count()</div>
    </div>


    @if (Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-padless">
                <thead>
                    <tr>


                        @{
                            if (_viewHelper.ShowVoteDetails(isAdmin, options.Value.ShowVotes))
                            {
                                <th>
                                    <a asp-controller="Contestant" asp-action="All" asp-route-orderBy="Rank_Asc">Rank</a>
                                </th>

                            }
                        }
                        <th>
                            <a asp-controller="Contestant" asp-action="All" asp-route-orderBy="FullName_Asc">Full Name</a>
                        </th>
                        <th>
                            <a asp-controller="Contestant" asp-action="All" asp-route-orderBy="Age_Asc">Age</a>
                        </th>
                        <th>
                            <a asp-controller="Contestant" asp-action="All" asp-route-orderBy="Suburb_Asc">Suburb</a>
                        </th>
                        <th>
                            <a asp-controller="Contestant" asp-action="All" asp-route-orderBy="ParentsName_Asc">Parent</a>
                        </th>
                        <th>
                            <a asp-controller="Contestant" asp-action="All" asp-route-orderBy="Contact_Asc">Contact</a>
                        </th>
                        <th>
                            <a asp-controller="Contestant" asp-action="All" asp-route-orderBy="Email_Asc">Email</a>
                        </th>
                        @{
                            if (_viewHelper.ShowVoteDetails(isAdmin, options.Value.ShowVotes))
                            {
                                <th>
                                    <a asp-controller="Contestant" asp-action="All" asp-route-orderBy="TotalVotes_Desc">Votes</a>
                                </th>
                                <th>
                                    <a asp-controller="Contestant" asp-action="All" asp-route-orderBy="TotalShares_Desc">Shares</a>
                                </th>
                                <th>
                                    <a asp-controller="Contestant" asp-action="All" asp-route-orderBy="RankWeight_Desc">Weight</a>
                                </th>

                            }
                        }

                        @if (isAdmin)
                        {
                            <th>UserName</th>
                            <th>Password</th>
                        }
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (ContestantView view in Model)
                {
                    <tr>
                        @{ if (_viewHelper.ShowVoteDetails(isAdmin, options.Value.ShowVotes))
                            {
                                <td>@view.Rank</td>

                            }
                        }
                        <td>
                            <a href="@Url.Content("~/"+view.UserName)"> @view.FullName</a>
                        </td>
                        <td>@view.Age</td>
                        <td>@view.Suburb</td>
                        <td>@view.ParentsName</td>
                        <td>@view.Contact</td>
                        <td>@view.Email</td>
                        @{ if (_viewHelper.ShowVoteDetails(isAdmin, options.Value.ShowVotes))
                            {
                                <td>@view.TotalVotes</td>
                                <td>@view.TotalShares</td>
                                <td>@view.RankWeight.ToString("F")</td>
                            }
                        }



                        @if (isAdmin)
                        {
                            <td>@view.UserName</td>
                            <td>@view.Password</td>
                        }
                        <td>
                            @if (isAdmin)
                            {
                                <a asp-controller="Contestant" asp-action="Update" asp-route-userId="@view.Id" class="btn btn-warning">
                                    <i type="submit" class="fa fa-pencil-square-o fa-lg"></i>

                                </a>

                                <form asp-action="Delete" asp-controller="Contestant" asp-route-userid="@view.Id" class="form form-horizontal inline">
                                    <button type="submit" class="btn btn-danger confirm-form-post" title="Delete Contestant">
                                        <i type="submit" class="fa fa-trash-o fa-lg"></i>
                                    </button>
                                </form>
                            }
                            <a asp-controller="Contestant" asp-action="Vote" asp-route-id="@view.Id" title="Vote">
                                <button type="button" class="btn btn-default">
                                    <img src="/images/voting.png" class="img-responsive" height="18" width="18" />

                                </button>
                            </a>
                    </tr>
                            }
            </table>
        </div>
                            }
                            else
                            {
                                <span>Could not find any contestants. <a asp-controller="Contestant" asp-action="Add">Add Contestants</a></span>
                            }


</div>
