@using BaalPratibha.Models
@model BaalPratibha.Models.ViewModels.ProfileImageViewModel
@inject BaalPratibha.Logic.ImageProcessing _imageProcessing;
@inject BaalPratibha.Logic.IViewHelper _viewHelper;

<div style="height: @Model.Height">
    <img src="@Url.Content("~"+_imageProcessing.GetImage(Model.UserId))" class="img-responsive @Model.ImageCssClass" alt="Profile Picture" style="width: @Model.Width; height: @Model.Height;" />

    @if (User.Identity.IsAuthenticated && Model.UserId == User.GetId())
    {
        <form asp-controller="Contestant" asp-action="UploadProfileImage" method="post" enctype="multipart/form-data" class="file-upload-form" asp-route-returnUrl="@_viewHelper.CurrentUrl">
            <input name="files" class="img-file-input hidden" type="file" enctype="multipart/form-data" accept="images/*" />
            <button type="button" class="btn btn-default upload-image-btn" id="checkbtn" style="position: relative; bottom: 60px; left: 10px; background-color: linen">
                <i class="fa fa-file-image-o"></i>
                <strong>Upload Image</strong>
            </button>
        </form>
    }

</div>