<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @RenderSection("Meta", required: false)
    <title>Baal Pratibha: Online Voting System</title>

    <link href="~/css/site.min.css" rel="stylesheet" />
    <script src="~/js/site.min.js"></script>
    @{ await Html.RenderPartialAsync("_FavIconHeadLinksPartial"); }

</head>
<body class="main-bg-color" style="position: relative">
    <div class="container">


        <nav class="navbar navbar-fixed-top navbar-default">
            <div class="container-fluid">
                <strong>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="/">
                            <img src="/images/baal.png" height="24" width="24" style="display: inline" />
                            Baal Pratibha
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">

                        <ul class="nav navbar-nav">
                            <li><a asp-controller="Contestant" asp-action="All">Contestants</a></li>
                            <li><a href="@Url.Action("RankingMethod", "Home")">Ranking Method</a></li>
                            @*<li>
                                    <form class="navbar-form" role="search" asp-controller="Search">
                                        <div class="input-group">
                                            <input type="search" name="SearchString" class="form-control pull-right input" placeholder="Search contestants..." />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </li>*@
                            <li>
                                <a href="@Url.Action("About", "Home")">About</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Contact", "Home")">Contact</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            @await Html.PartialAsync("_LoginPartial")
                        </ul>

                    </div><!--/.nav-collapse -->
                </strong>
            </div>

        </nav>
        <div style="padding-top: 20px" class="body-content">
            @RenderBody()
        </div>
        <small style="position: absolute; bottom: 2px; color: white">
            Developed by Nabin Karki Thapa. <a style="display: inline; padding: 0; text-decoration: none; color: white" href="http://www.lahuri.com.au"><strong>Lahuri TV</strong></a>
        </small>
    </div>
    @await Component.InvokeAsync("NToastNotify.Toastr")
    @RenderSection("scripts", required: false)
</body>
</html>
